


body nav a.navbar-brand {
  font-family: "Poppins", cursive;
  font-weight: bold;
  color: #ffffff;
}
.circular_image {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  background-color: blue;
  /* commented for demo
  float: left;
  margin-left: 125px;
  margin-top: 20px;
  */
  
  /*for demo*/
  display:inline-block;
  vertical-align:middle;
}
.circular_image img{
  width:100%;
}

body nav {
  color: #000000;

  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

nav div.collapse ul li a {
  font-family: "Poppins";
  color: #ffffff;
  font-weight: bold;
  font-size: large;
}

nav div.collapse ul li a:hover {
  font-family: "Poppins";
  font-weight: bolder;
  font-size: x-large;
  transition: 0.3s;
}

svg.pertama {
  margin-top: 80px;
}

.pembuka {
  color: #ffffff;

}

.tanggal {
  font-family: "Poppins";
  color: white;
  font-size: large;
  font-weight: bold;
}
.pembuka .judul {
  font-family: "Sofia";
  color: #ffffff;

}



section.doa {
  background-color: white;
  font-family: "Dancing Script";
}

.profil {
  padding: 100px;
  margin-top: 200px;
  background-color: #000000;
  color: #ffffff;
  font-size: x-small;
}

.tanggal {
  padding: 100px;
  margin-bottom: 50px;
  background-color: #ffffff;
  color: #000000;
  font-size: x-small;
}
.tanggal .zxc{
  padding: 100px;
  margin-bottom: 50px;
  background-color: #ffffff;
  color: #ffffff;
  font-size: x-small;
}

.profil .judulprofil {
  font-family: "Poppins";
  text-align: center;
  color: #ffffff;
}

.profil .namacalon {
  font-family: "Poppins";
  font-size: 20px;
}

.galleri .judulgaleri {
  font-family: "Poppins";
  color: #ffffff;
}

.lokasi {
  background-color: #ffffff;
}

.lokasi .judullokasi {
  font-family: "Edu VIC WA NT Beginner";
  color: #ffffff;
}

.lokasi .judullokasi a {
  text-align: start;
  text-decoration: none;
  color: #ffffff;
}

footer {
  font-family: "Edu VIC WA NT Beginner";
  color: #ffffff;
}

footer p a {
  text-decoration: none;
  color: #ffffff;
}
footer p a:hover {
  text-decoration: none;
  color: #ffffff;
}


.launch-time div{
  flex-basis: 100px;
}